# Ex 1) Are Stocks Prices a Random Walk?
---
## Augmented Dickey-fuller Test
---
Data source: https://www.nasdaq.com/market-activity/stocks/amzn/historical

Most stock prices follow a random walk (perhaps with a drift). You will look at a time series of Amazon stock prices, pre-loaded in the DataFrame AMZN, and run the 'Augmented Dickey-Fuller Test' from the statsmodels library to show that it does indeed follow a random walk.

---
With the ADF test, the "null hypothesis" (the hypothesis that we either reject or fail to reject) is that the series follows a random walk. Therefore, a low p-value (say less than 5%) means we can reject the null hypothesis that the series is a random walk.

In [1]:
import pandas as pd
from statsmodels.tsa.stattools import adfuller

In [2]:
AMZN = pd.read_csv('AMZN.csv')
AMZN.rename({AMZN.columns[1]:"Adj Close"}, axis=1, inplace=True)

In [3]:
AMZN.head()

         Date  Adj Close   Volume       Open         High         Low
0  02/21/2020   $2095.97  4650740   $2142.15     $2144.55       $2088
1  02/20/2020    $2153.1  3131342   $2173.07     $2176.79    $2127.45
2  02/19/2020   $2170.22  2561165    $2167.8      $2185.1    $2161.12
3  02/18/2020   $2155.67  2951070   $2125.02     $2166.07   $2124.105
4  02/14/2020   $2134.87  2606169   $2155.68   $2159.0352    $2125.89

In [4]:
# Formating datetime, sorting data
AMZN['Date'] = pd.to_datetime(AMZN['Date'])
# Sort DataFrame values by date
AMZN = AMZN.sort_values(by='Date')
AMZN.set_index(pd.to_datetime(AMZN.Date), inplace=True)
AMZN.drop(['Date'], axis=1, inplace=True)
# Convert Adjusted closing price to float
AMZN["Adj Close"] = [float(f.replace('$', '')) for f in AMZN["Adj Close"]]
AMZN.head()

            Adj Close   Volume      Open      High       Low
Date
2010-02-22     118.01  6806986   $117.37   $118.97   $116.18
2010-02-23     117.24  7066220   $118.01   $119.25   $116.51
2010-02-24     119.72  7387899   $117.96    $119.8   $117.15
2010-02-25     118.20  9524339   $118.17   $118.34   $115.85
2010-02-26     118.40  5713949   $117.88   $119.43      $117

In [6]:
# Run the ADF test on the price series and print out the results
results = adfuller(AMZN["Adj Close"])
print(results)

(1.2961952561081038, 0.9965875477388998, 26, 2491, {'1%': -3.4329778809556224, '5%': -2.86270098200392, '10%': -2.5673880359934063}, 20955.22400361047)

In [7]:
# Just print out the p-value
print('The p-value of the test on prices is: ' + str(results[1]))

The p-value of the test on prices is: 0.9965875477388998

### AMAZON Stock Prices FOLLOW a random walk !!!