# Ex 2) How About Stock Returns?
---
## Augmented Dickey-fuller Test
---
Data source: https://www.nasdaq.com/market-activity/stocks/amzn/historical

In the last exercise, you showed that Amazon stock prices, contained in the DataFrame AMZN follow a random walk. In this exercise, you will do the same thing for Amazon returns (percent change in prices) and show that the returns do not follow a random walk.

In [7]:
import pandas as pd
from statsmodels.tsa.stattools import adfuller

In [8]:
AMZN = pd.read_csv('AMZN.csv')
AMZN.rename({AMZN.columns[1]:"Adj Close"}, axis=1, inplace=True)

In [9]:
AMZN.head()

         Date  Adj Close   Volume       Open         High         Low
0  02/21/2020   $2095.97  4650740   $2142.15     $2144.55       $2088
1  02/20/2020    $2153.1  3131342   $2173.07     $2176.79    $2127.45
2  02/19/2020   $2170.22  2561165    $2167.8      $2185.1    $2161.12
3  02/18/2020   $2155.67  2951070   $2125.02     $2166.07   $2124.105
4  02/14/2020   $2134.87  2606169   $2155.68   $2159.0352    $2125.89

In [10]:
# Formating datetime, sorting data
AMZN['Date'] = pd.to_datetime(AMZN['Date'])
# Sort DataFrame values by date
AMZN = AMZN.sort_values(by='Date')
AMZN.set_index(pd.to_datetime(AMZN.Date), inplace=True)
AMZN.drop(['Date'], axis=1, inplace=True)
# Convert Adjusted closing price to float
AMZN["Adj Close"] = [float(f.replace('$', '')) for f in AMZN["Adj Close"]]
AMZN.head()

            Adj Close   Volume      Open      High       Low
Date
2010-02-22     118.01  6806986   $117.37   $118.97   $116.18
2010-02-23     117.24  7066220   $118.01   $119.25   $116.51
2010-02-24     119.72  7387899   $117.96    $119.8   $117.15
2010-02-25     118.20  9524339   $118.17   $118.34   $115.85
2010-02-26     118.40  5713949   $117.88   $119.43      $117

In [12]:
# Create a DataFrame of AMZN returns
AMZN_ret = AMZN["Adj Close"].pct_change()
AMZN_ret.dropna(inplace=True)
AMZN_ret.head()

Date
2010-02-23   -0.006525
2010-02-24    0.021153
2010-02-25   -0.012696
2010-02-26    0.001692
2010-03-01    0.051858
Name: Adj Close, dtype: float64

In [13]:
# Run the ADF test on the price series and print out the results
results = adfuller(AMZN_ret)
print(results)

(-50.69060273070354, 0.0, 0, 2516, {'1%': -3.4329517425474014, '5%': -2.862689439250822, '10%': -2.5673818904827863}, -12532.580015546178)

In [14]:
# Just print out the p-value
print('The p-value of the test on prices is: ' + str(results[1]))

The p-value of the test on prices is: 0.0

### AMAZON Stock Returns DO NOT follow a random walk !!!